<<<<<<< HEAD
=======

>>>>>>> ca7525fcf7beeb7a6e7c7ec628fd80758d5a5541
<h2 class="page-header">What is your name?</h2>

<form method="POST" action="/page2" class="page-form">
  <label for="name">
    <span class="form-label">What is your name?</span>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="yourName"
      class="form-input">
  </label>

<button class="form-button">Submit</button>
<<<<<<< HEAD
</form> 
=======
</form> 
>>>>>>> ca7525fcf7beeb7a6e7c7ec628fd80758d5a5541
