
<h2 class="page-header">What is your name?</h2>

<form method="POST" action="/page2" class="page-form">
  <label for="name" class="block mb-4">
    <span class="form-label">What is your name?</span>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="yourName"
      class="form-input">
  </label>

<button class="form-button">Submit</button>
</form> 
