<h2 class="page-header">How are you feeling?</h2>

{{!-- <form method="POST" action="/page2" class="page-form">
  <label for="name">
    <span class="form-label">What is your name?</span>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="yourName"
      class="form-input">
  </label> --}}
  <div><a href ="/page2"><img src="https://cdn.shopify.com/s/files/1/0248/0678/5108/products/sterling-silver-mood-ring-best-rings_540x.jpg?v=1560190937"></a></div>

{{!-- <button class="form-button">Submit</button>
</form>  --}}
