
<h2 class="page-header">Hey {{user}} </h2>

<form method="POST" action="/page2" class="page-form">
  <label for="name" class="block mb-4">
    <span class="form-label">Your colour is {{colour}}</span><br>
    <span class="form-label">Your mood is {{mood}}</span><br>
    <span class="form-label">Suggestion: {{comment}}</span><br>
  </label>


